
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/

.vs/
.vscode/
*.swp
*.sln.ide
*.sln
*.csproj.user
*.cache
*.pdb
*.ilk
*.exp
*.lib

packages/
*.nupkg

**/bin/
**/obj/